
<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8"/>
		<link type="text/css" href="static/static/css/HomePage.css" rel="stylesheet" />
		<link href="static/static/css/banner.css" rel="stylesheet" type="text/css" />
		<link type="text/css" rel="stylesheet" href="static/static/css/login.css" />
		<link rel="stylesheet" href="static/static/css/ForgetPassword.css"/>
		<link rel="stylesheet" type="text/css" href="http://www.jq22.com/jquery/font-awesome.4.6.0.css"/>

		<script type="text/javascript" src="static/static/js/setStep.js"></script>
		<script src="static/static/js/jquery2.1.1.min.js"></script>
		<script src = "static/static/js/ForgetPassword.js"></script>
		<title>忘记密码</title>
		<style type="text/css">
			.stepPage {
				height: 300px;
				/*border: 1px solid #000;*/
			}
		</style>
	</head>

	<body>
	<div id="top">
		<div id="top1">
			<span>
				<a href="Register.html" id = "top1_register">注册</a>
			    <a class="cd-signin" href="#" id = "top1_login">登录</a>
				<span class="nav_left">
					<h1>
						<a href="#" class="txtArr">
							<img class="userIcon touxiang" src="static/static/img/touxaing.jpg" onclick="navagator_list()" />
						</a>
					</h1>
				</span>
				<div id = "homeOptions" class="headListPlugin popBox">
                      <div class="profileTitle" id = "linkInfo">
						  <a href="#">
							  <p class="headPic">
							  <img src = "static/static/img/touxaing.jpg" class="touxiang"/>
							  </p>
							  <div class="intro">
								  <p>
									  <b class="yourName">未登录</b>
								  </p>
								  <p class="wid"></p>
							  </div>
						  </a>
					  </div>
					<ul class="lm">
						<li class="liops" id = "skinBox">
						   <a href="#" id = "linkSkin">查看资料</a>
						</li>
                        <li class = "liops">
							<a href = "#" id = "linkFrame">联系我们</a>
						</li>
						<li class = "liops clear263Logo rzrq_hide selected">
							<a href = "#" id = "linkHelp">帮助</a>
						</li>
						<li class="liops tLine">
                            <a href="#" id="mailsetMessage" onclick="out_login()">退出登陆</a>
						</li>
					</ul>
				</div>
			</span>
		</div>
		<img id="logo" src="static/static/img/logo.png" />
		<span id="title">公共管理学院校友信息平台</span>
		<!--<img id="bac" src="img/湘大.png" />-->
	</div>
	<nav class="hl_nav">
		<ul class="nav_list">
			<li class="active">
				<a class="nav_head" href="index.html">首页</a>
			</li>
			<li>
				<a class="nav_head" href="#">新闻快讯</a>
				<a class="nav_body" href="news.html?artType=1">学院新闻</a>
				<a class="nav_body" href="news.html?artType=2">校友新闻</a>
				<a class="nav_body" href="http://www.xtu.edu.cn/xdxw/xnxw/" target="_blank">学校新闻</a>
			</li>
			<li>
				<a class="nav_head" href="#">人物风采</a>
				<a class="nav_body" href="http://glxy.xtu.edu.cn/e/action/ListInfo/?classid=7" target="_blank">老师之星</a>
				<a class="nav_body" href="CharacterStyle.html?charcterType=2">学生之星</a>
				<a class="nav_body" href="CharacterStyle.html?charcterType=3">校友之星</a>
			</li>
			<li>
				<a class="nav_head" href="Service.html">校友服务</a>
				<a class="nav_body" href="Service_SchoolCard.html">校友卡</a>
				<a class="nav_body" href="Service_souvenir.html">校友纪念品</a>
				<a class="nav_body" href="Service_hotel.html">周边食宿</a>
				<a class="nav_body" href="Service_returnSchool.html">校友返校活动</a>
			</li>
			<li>
				<a class="nav_head" href="#">校友捐赠</a>
				<a class="nav_body" href="Donation.html">校友捐赠</a>
			</li>
			<li>
				<a class="nav_head" href="#">校友企业</a>
				<a class="nav_body" href="Company.html">校友企业</a>
			</li>
			<li>
				<a class="nav_head" href="#">查看信息</a>
				<a class="nav_body" href="#">我的资料</a>
				<a class="nav_body" href="#">我的行程</a>
				<a class="nav_body" href="#">我的捐赠</a>
			</li>
		</ul>
	</nav>


		<!-- 菜单及分页容器-->
	<!-- 菜单及分页容器-->
	<div class="stepCont stepCont1 ">
		<!-- 菜单导航显示-->
		<div class='ystep-container ystep-lg ystep-blue'></div>
		<!-- 分页容器-->
		<div class="pageCont">
			<div id="page1" class="stepPage">
				<div class="w330">
					<div class = "mailFormat">
						<label >邮箱</label><br/>
						<input type="text" name="" class="frm_input tel" id = "Mail"/>
						<input type="button" value="获取验证码" id="btn" onclick="send()"/><br/>
						<input type="text" name="" class="frm_input tel" id = "code" placeholder="请输入验证码"/>
					</div>
					<br />
				</div>
				<!--<button type="submit" >开始验证</button>-->
			</div>
			<div id="page2" class="stepPage">
				<div id="mm">
					<input type="text" id ="name"/><br />
					<input type="password" placeholder="新密码"   id = "new_password"/><br />
					<input type="password" placeholder="确认新密码" id = "new_password2"/>
				</div>
			</div>
			<div id="page3" class="stepPage">
				<div id='finish'>完成修改！</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="cd-user-modal">
			<div class="cd-user-modal-container">
				<ul class="cd-switcher">
					<li class="on">
						<a href="#">用户名密码登录</a>
					</li>
					<li>
						<a href="#">手机验证码登录</a>
					</li>
				</ul>

				<div id="cd-login">
					<!-- 用户名密码登录 -->
					<form class="cd-form">
						<p class="fieldset">
							<label class="image-replace cd-username" for="signin-username">用户名</label>
							<input class="full-width has-padding has-border" id="signin-username" type="text" placeholder="输入用户名"/>
						</p>

						<p class="fieldset">
							<label class="image-replace cd-password" for="signin-password">密码</label>
							<input class="full-width has-padding has-border" id="signin-password" type="text" placeholder="输入密码"/>
						</p>

						<div id="zhuce">
							<p id="zhuce1">还没账号？
								<a href="Register.html">立即注册</a>
							</p>
							<p id="zhuce2">
								<a href="forgetPassword">忘记密码？</a>
								<a href="syslogin.html">(进入管理员端)</a>

							</p>
						</div>

						<p class="fieldset">
							<input class="full-width2" type="text" value="登 录" onclick="login_1()"/>
						</p>
					</form>
				</div>

				<div id="cd-signup">
					<!-- 手机验证码登录 -->
					<form class="cd-form">
						<p class="fieldset">
							<label class="image-replace cd-username" for="signup-username">手机号</label>
							<input class="full-width has-padding has-border" id="signup-username" type="text" placeholder="输入手机号"/>
						</p>

						<p class="fieldset">
							<label class="image-replace cd-email" for="signup-email">验证码</label>
							<input class="full-width has-padding has-border" id="signup-email" type="email" placeholder="输入验证码"/>
						</p>

						<p class="">
							<!--<label class="image-replace cd-password" for="signup-password">密码</label>-->
							<!--<input class="full-width has-padding has-border" id="signup-password" type="text"  placeholder="输入密码">-->
							<input id="btn2" class="yan" type="button" value="获取验证码" onclick="send()"/>
						</p>

						<p class="fieldset">
							<input class="full-width2" type="text" value="登录" onclick="login_2()"/>
						</p>
					</form>
				</div>

				<a href="#0" class="cd-close-form">关闭</a>
			</div>
		</div>
	</div>

	<script>
		var step1 = new SetStep({
			skin: 1,
			content: '.stepCont1',
			showBtn: false,
			descriptionHeader: ['验证用户信息', '设置新密码', '完成修改'],
			showBtn: true
		})
	</script>
	</body>

</html>