<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title></title>
	<script src="static/static/system/js/jquery.min.js"></script>
</head>

<body>
<div class="tools">
	<button type="button" class="btn green" id="excell" onclick="bt()">导出考勤表格</button>
</div>

<table border="1" id="dataTable">
	<tr>
		<td>王婷111</td>
		<td>一见倾城333 </td>
	</tr>
	<tr>
		<td>祈澈姑娘222</td>
		<td>Python开发者交流平台44</td>
	</tr>
	<tr>
		<td>wwwangting888</td>
		<td>13661725475</td>
	</tr>
</table>

</body>
<script>
	function bt(){
      window.open("http://172.17.108.131:8080/excel/orderrdExportExcel");
	}
</script>

</html>