<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="robots" content="all,follow"/>

    <title>校友管理系统</title>
    
    <!-- global stylesheets -->
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet"/>
    <link rel="stylesheet" href="static/static/system/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="static/static/system/font-awesome-4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="static/static/system/css/font-icon-style.css"/>
    <link rel="stylesheet" href="static/static/system/css/style.default.css" id="theme-stylesheet"/>

    <!-- Core stylesheets -->
    <link rel="stylesheet" href="static/static/system/css/ui-elements/card.css"/>
    <link rel="stylesheet" href="static/static/system/css/style.css"/>
</head>

<body> 

<!--====================================================
                         MAIN NAVBAR
======================================================-->        
    <header class="header" style="background:rgb(139, 0, 0)">
        <nav class="navbar navbar-expand-lg ">
            <div class="search-box">
                <button class="dismiss"><i class="icon-close"></i></button>
                <form id="searchForm" action="#" role="search">
                    <input type="search" placeholder="Search Now" class="form-control"/>
                </form>
            </div>
            <div class="container-fluid ">
                <div class="navbar-holder d-flex align-items-center justify-content-between">
                    <div class="navbar-header">
                        <a href="index.html" class="navbar-brand">
                            <div class="brand-text brand-big hidden-lg-down"><img src="static/static/img/logo.png" alt="Logo" class="img-fluid"/></div></a>
                    </div>
                </div>
                <ul class="nav-menu list-unstyled d-flex flex-md-row align-items-md-center">
                    <!-- Expand-->
                    <li class="nav-item d-flex align-items-center"><a id="search" class="nav-link" href="#"><i class="icon-search"></i></a></li>
                    <li class="nav-item dropdown"><a id="profile" class="nav-link logout" data-target="#" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="static/static/img/touxaing.jpg" alt="..." class="img-fluid rounded-circle" style="height: 30px; width: 30px;"/></a>
                        <ul aria-labelledby="profile" class="dropdown-menu profile">
                            <li>
                                <a rel="nofollow" href="#" class="dropdown-item d-flex">
                                    <div class="msg-profile"> <img src="static/static/img/touxaing.jpg" alt="..." class="img-fluid rounded-circle"/></div>
                                    <div class="msg-body">
                                        <h3 class="h5"  id = "username_right">无用户</h3><span id ="userIdentity_right">暂无</span>
                                    </div>
                                </a>
                                <hr/>
                            </li>
                            <li>
                                <a rel="nofollow" href="profile.html" class="dropdown-item">
                                    <div class="notification">
                                        <div class="notification-content"><i class="fa fa-user "></i>我的资料</div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a rel="nofollow" href="sysAlterPassword.html" class="dropdown-item">
                                    <div class="notification">
                                        <div class="notification-content"><i class="fa fa-cog"></i>修改密码</div>
                                    </div>
                                </a>
                                <hr/>
                            </li>
                            <li>
                                <a rel="nofollow" href="#" class="dropdown-item">
                                    <div class="notification">
                                        <div class="notification-content" onclick="logout()"><i class="fa fa-power-off"></i>退出</div>
                                    </div>
                                </a> 
                            </li>
                        </ul>
                    </li>
                    <!--<li class="nav-item d-flex align-items-center"><a id="menu-toggle-right" class="nav-link" href="#"><i class="fa fa-bars"></i></a></li>-->
                </ul> 
            </div>
        </nav>
    </header>

<!--====================================================
                        PAGE CONTENT
======================================================-->
    <div class="page-content d-flex align-items-stretch">

        <!--***** SIDE NAVBAR *****-->
        <nav class="side-navbar">
            <div class="sidebar-header d-flex align-items-center">
                <div class="avatar"><img src="static/static/img/touxaing.jpg" alt="..." class="img-fluid rounded-circle"/></div>
                <div class="title">
                    <h1 class="h4" id = "username_navigator">无用户</h1>
                </div>
            </div>
            <hr/>
            <!-- Sidebar Navidation Menus-->
            <ul class="list-unstyled">
                <li class="active"> <a href="/sysindex"><i></i>数据报表</a></li>
                <li><a href="sysbasic-form.html"> <i></i>新闻编辑</a></li>
                <li> <a href="systables.html"> <i></i>校友信息</a></li>
                <li> <a href="sysStroke.html"> <i></i>校友行程</a></li>
            </ul>
        </nav>

        <div class="content-inner">

            <!--***** REPORT-1 *****-->     
            <div class="row" id="report1">
                <div class="col-sm-3">
                    <div class="card">
                        <div class="card-block">
                            <div class="text-left report1-cont">
                                <h2 class="font-light m-b-0" id="donationAmountLastMonth"><i class="ti-arrow-up text-success"></i>RMB 9,220</h2>
                            </div>
                            <p><small>上个月捐赠金额</small></p>
                        </div>
                    </div>
                </div> 
                <div class="col-sm-3">
                    <div class="card">
                        <div class="card-block">
                            <div class="text-left report1-cont">
                                <h2 class="font-light m-b-0" id="userAmountLastMonth"><i class="ti-arrow-up text-danger"></i> 5,530</h2>
                            </div>
                            <p><small>上个月注册用户数</small></p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="card">
                        <div class="card-block"> 
                            <div class="text-left report1-cont">
                                <h2 class="font-light m-b-0" id="donationAmountTotal"><i class="ti-arrow-up text-warning"></i> RMB 3,620</h2>
                            </div>
                            <p><small>累积捐赠金额</small></p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="card">
                        <div class="card-block"> 
                            <div class="text-left report1-cont">
                                <h2 class="font-light m-b-0" id="userAmountTotal"><i class="ti-arrow-up text-info"></i> 82,600</h2>
                            </div>
                            <p><small>累计注册用户数</small></p>
                        </div>
                    </div>
                </div>                
            </div>
 
            <!--***** REPORT-2 *****-->     
            <div class="row" id="report2">
                <div class="col-md-4">
                    <div class="card card-c1">
                        <div class="card-header card-chart" data-background-color="green">
                            <canvas class="ct-chart" id="myChart1" height="250"></canvas>
                        </div>
                        <div class="card-content">
                            <h4 class="title">近7日用户注册量</h4>
                        </div>
                        <div class="card-footer">
                            <div class="stats">
                                <i class="fa fa-clock-o"></i> 4分钟前
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card card-c1">
                        <div class="card-header card-chart" data-background-color="orange">
                            <canvas class="ct-chart" id="myChart2" height="250"></canvas>
                        </div>
                        <div class="card-content">
                            <h4 class="title">近5个月捐赠金额</h4>
                        </div>
                        <div class="card-footer">
                            <div class="stats">
                                <i class="fa fa-clock-o"></i>5分钟前
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card card-c1">
                        <div class="card-header card-chart" data-background-color="orange">
                            <canvas class="ct-chart" id="myChart3" height="250"></canvas>
                        </div>
                        <div class="card-content">
                            <h4 class="title">近5个月新闻数量</h4>
                        </div>
                        <div class="card-footer">
                            <div class="stats">
                                <i class="fa fa-clock-o"></i>5分钟前
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <!--***** REPORT-2 *****-->
            <div class="row" id="report5">
                <div class="col-md-4">
                    <div class="card card-c1">
                        <div class="card-header card-chart" data-background-color="green">
                            <canvas class="ct-chart" id="myChart4" height="250"></canvas>
                        </div>
                        <div class="card-content">
                            <h4 class="title">校友信息完善度汇总</h4>
                        </div>
                        <div class="card-footer">
                            <div class="stats">
                                <i class="fa fa-clock-o"></i> 4分钟前
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card card-c1">
                        <div class="card-header card-chart" data-background-color="orange">
                            <canvas class="ct-chart" id="myChart5" height="250"></canvas>
                        </div>
                        <div class="card-content">
                            <h4 class="title">校友信息完善度较好排名</h4>
                        </div>
                        <div class="card-footer">
                            <div class="stats">
                                <i class="fa fa-clock-o"></i>5分钟前
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card card-c1">
                        <div class="card-header card-chart" data-background-color="orange">
                            <canvas class="ct-chart" id="myChart6" height="250"></canvas>
                        </div>
                        <div class="card-content">
                            <h4 class="title">校友信息完善度较差排名</h4>
                        </div>
                        <div class="card-footer">
                            <div class="stats">
                                <i class="fa fa-clock-o"></i>5分钟前
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--***** REPORT-3 *****-->     
            <div class="row" id="report3">
                <div class="col-md-8">
                    <div class="card card-c2">
                        <table class="table table-hover">
                          <thead>
                            <tr>
                              <th>近期登陆用户</th>
                              <th>登陆时间</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td id = "login_name_1">刘自攀</td>
                              <td id = "login_time_1">2019-03-20</td>
                            </tr>
                            <tr>
                              <td id="login_name_2">刘自攀</td>
                              <td id = "login_time_2">2019-03-19</td>
                            </tr>
                            <tr>
                              <td id="login_name_3">刘自攀</td>
                              <td id = "login_time_3">2019-03-18</td>
                            </tr>
                            <tr>
                              <td id="login_name_4">于金领</td>
                              <td id = "login_time_4">2019-03-18</td>
                            </tr><tr>
                              <td id="login_name_5">于金领</td>
                              <td id = "login_time_5">2019-03-18</td>
                            </tr><tr>
                              <td id="login_name_6">黄如</td>
                              <td id = "login_time_6">2019-03-18</td>
                            </tr><tr>
                              <td id="login_name_7">黄如</td>
                              <td id = "login_time_7">2019-03-18</td>
                            </tr>
                            <tr>
                              <td id="login_name_8">姜梓悠</td>
                              <td id = "login_time_8">2019-03-15</td>
                            </tr>
                            <tr>
                              <td id="login_name_9">姜梓悠</td>
                              <td id = "login_time_9">2019-03-15</td>
                            </tr>
                          </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card card-c2">
                        <div class="header">
                            <h4 class="title">近一个月浏览量统计</h4>
                        </div>
                        <div class="content">
                            <canvas class="ct-chart" id="polar-chart"></canvas>
                            <div class="footer">
                                <div class="legend">
                                    <i class="fa fa-circle text-info"></i> 学院新闻
                                    <i class="fa fa-circle text-danger"></i> 校友新闻
                                    <i class="fa fa-circle text-warning"></i> 通知公告
                                    <i class="fa fa-circle text-primary"></i> 校友卡
                                    <i class="fa fa-circle text-success"></i> 校友返校
                                </div>
                                <hr/>
                                <div class="stats">
                                    <i class="fa fa-clock-o"></i> 1天之前
                                </div>
                            </div>
                        </div>
                    </div>
                </div> 
            </div>

            <!--***** REPORT-4 *****-->    
            <div class="row" id="report4">
                <div class="col-md-4" id="card-1">
                    <div class="card card-inverse card-info">
                        <img class="card-img-top" src="static/static/img/xtuSquare.jpg"/>
                        <div class="card-block"> 
                            <h4 class="card-title">公共管理学院校友会官网</h4>
                            <div class="card-text">
                                了解详细新闻及校友动态
                            </div>
                        </div>
                        <div class="card-footer">
                            <button class="btn btn-info float-right btn-sm" style="cursor: pointer" id = "goPage">前往</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card card-c2">
                        <div class="dropdown pull-right menu-sett-card" >
                        </div>
                        <div class="header">
                            <h4 class="title">近期登陆管理员</h4>
                            <hr/>
                        </div>
                        <div class="content newsf-list">
                            <ul class="list-unstyled">
                                <li class="border border-primary">
                                    <a rel="nofollow " href="#" class=" d-flex">
                                        <div class="news-f-img"> <img src="static/static/img/touxaing.jpg" alt="..." class="img-fluid rounded-circle" id = "manager_gender_1"/></div>
                                        <div class="msg-body">
                                            <h3 class="h5 msg-nav-h3" id = "manager_name_1">刘自攀</h3>
                                            <small id = "manager_identity_1">管理员</small>
                                        </div>
                                    </a>
                                </li>
                                <li class="border border-success">
                                    <a rel="nofollow" href="#" class=" d-flex">
                                        <div class="news-f-img"> <img src="static/static/img/touxaing.jpg" alt="..." class="img-fluid rounded-circle" id = "manager_gender_2"/></div>
                                        <div class="msg-body">
                                            <h3 class="h5 msg-nav-h3" id = "manager_name_2">于金领</h3>
                                            <small id = "manager_identity_2">管理员</small>
                                        </div>
                                    </a>
                                </li>
                                <li class="border border-info">
                                    <a rel="nofollow" href="#" class=" d-flex">
                                        <div class="news-f-img"> <img src="static/static/img/touxaing.jpg" alt="..." class="img-fluid rounded-circle" id = "manager_gender_3"/></div>
                                        <div class="msg-body">
                                            <h3 class="h5 msg-nav-h3" id = "manager_name_3">刘雯静</h3>
                                            <small id = "manager_identity_3">管理员</small>
                                        </div>
                                    </a>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card card-c2">
                        <div class="header">
                            <h4 class="title">近一个月评论量统计</h4>
                        </div>
                        <div class="content">
                            <canvas class="ct-chart" id="polar-chart2"></canvas>
                            <div class="footer">
                                <div class="legend">
                                    <i class="fa fa-circle text-info"></i> 学院新闻
                                    <i class="fa fa-circle text-danger"></i> 校友新闻
                                    <i class="fa fa-circle text-warning"></i> 通知公告
                                    <i class="fa fa-circle text-primary"></i> 校友卡
                                    <i class="fa fa-circle text-success"></i> 校友返校
                                </div>
                                <hr/>
                                <div class="stats">
                                    <i class="fa fa-clock-o"></i> 1天之前
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> 


        </div>
    </div> 
    </div>

    <!--Global Javascript -->
    <script src="static/static/system/js/jquery.min.js"></script>
    <script src="static/static/system/js/popper/popper.min.js"></script>
    <script src="static/static/system/js/tether.min.js"></script>
    <script src="static/static/system/js/bootstrap.min.js"></script>
    <script src="static/static/system/js/jquery.cookie.js"></script>
    <script src="static/static/system/js/jquery.validate.min.js"></script>
    <script src="static/static/system/js/chart.min.js"></script>
    <script src="static/static/system/js/front.js"></script>
    
    <!--Core Javascript -->
    <script src="static/static/system/js/mychart.js"></script>

    <!--登录状态检查-->
    <script src="static/static/js/system/userDetect.js"></script>

    <!--首页状态检查-->
    <script src="static/static/js/system/HomeSeralize.js"></script>
</body>

</html>