<!DOCTYPE html>
<html>

<head>
    
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="robots" content="all,follow"/>

    <title></title>
    <link rel="shortcut icon" href="static/static/system/img/favicon.ico"/>
    
    <!-- global stylesheets -->
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet"/>
    <link rel="stylesheet" href="static/static/system/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="static/static/system/font-awesome-4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="static/static/system/css/font-icon-style.css"/>
    <link rel="stylesheet" href="static/static/system/css/style.default.css" id="theme-stylesheet"/>

    <!-- Core stylesheets -->

    <!-- Bootstrap CSS -->
    <link href="static/static/css/style_1.css" rel="stylesheet" type="text/css"/>

    <link rel="stylesheet" type="text/css" href="static/static/system/css/selectFilter.css" />
</head>

<body> 

<!--====================================================
                         MAIN NAVBAR
======================================================-->
<header class="header" style="background:rgb(139, 0, 0)">
    <nav class="navbar navbar-expand-lg ">
        <div class="search-box">
            <button class="dismiss"><i class="icon-close"></i></button>
            <form id="searchForm" action="#" role="search">
                <input type="search" placeholder="Search Now" class="form-control"/>
            </form>
        </div>
        <div class="container-fluid ">
            <div class="navbar-holder d-flex align-items-center justify-content-between">
                <div class="navbar-header">
                    <a href="index.html" class="navbar-brand">
                        <div class="brand-text brand-big hidden-lg-down"><img src="static/static/img/logo.png" alt="Logo" class="img-fluid"/></div></a>
                </div>
            </div>
            <ul class="nav-menu list-unstyled d-flex flex-md-row align-items-md-center">
                <!-- Expand-->
                <li class="nav-item d-flex align-items-center full_scr_exp"><a class="nav-link" href="#"><img src="img/expand.png" onclick="toggleFullScreen(document.body)" class="img-fluid" alt=""/></a></li>
                <!-- Search-->
                <li class="nav-item d-flex align-items-center"><a id="search" class="nav-link" href="#"><i class="icon-search"></i></a></li>
                <li class="nav-item dropdown"><a id="profile" class="nav-link logout" data-target="#" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="static/static/img/touxaing.jpg" alt="..." class="img-fluid rounded-circle" style="height: 30px; width: 30px;"/></a>
                    <ul aria-labelledby="profile" class="dropdown-menu profile">
                        <li>
                            <a rel="nofollow" href="#" class="dropdown-item d-flex">
                                <div class="msg-profile"> <img src="static/static/img/touxaing.jpg" alt="..." class="img-fluid rounded-circle"/></div>
                                <div class="msg-body">
                                    <h3 class="h5"  id = "username_right">无用户</h3><span id ="userIdentity_right">暂无</span>
                                </div>
                            </a>
                            <hr/>
                        </li>
                        <li>
                            <a rel="nofollow" href="profile.html" class="dropdown-item">
                                <div class="notification">
                                    <div class="notification-content"><i class="fa fa-user "></i>我的资料</div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a rel="nofollow" href="profile.html" class="dropdown-item">
                                <div class="notification">
                                    <div class="notification-content"><i class="fa fa-cog"></i>设置</div>
                                </div>
                            </a>
                            <hr/>
                        </li>
                        <li>
                            <a rel="nofollow" href="profile.html" class="dropdown-item">
                                <div class="notification">
                                    <div class="notification-content"><i class="fa fa-power-off"></i>退出</div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</header>

<!--====================================================
                        PAGE CONTENT
======================================================-->
    <div class="page-content d-flex align-items-stretch">
        <!--***** SIDE NAVBAR *****-->
        <!--***** SIDE NAVBAR *****-->
        <nav class="side-navbar">
            <div class="sidebar-header d-flex align-items-center">
                <div class="avatar"><img src="static/static/img/touxaing.jpg" alt="..." class="img-fluid rounded-circle"/></div>
                <div class="title">
                    <h1 class="h4">无用户</h1>
                </div>
            </div>
            <hr/>
            <!-- Sidebar Navidation Menus-->
            <ul class="list-unstyled">
                <li class="active"> <a href="/sysindex"><i></i>首页</a></li>
                <li> <a href="syschart.html"> <i></i>统计图表</a></li>
                <li><a href="sysbasic-form.html"> <i></i>新闻编辑</a>
                </li>
                <li><a href="#pages" aria-expanded="false" data-toggle="collapse"> <i></i>登陆信息</a>
                    <ul id="pages" class="collapse list-unstyled">
                        <li><a href="syslogin.html">登陆</a></li>
                    </ul>
                </li>
                <li> <a href="systables.html"> <i></i>校友信息</a></li>
            </ul>
        </nav>

        <div class="content-inner chart-cont">
            <div class="item" >

                <!-- 这里开始 -->
                <div style = "float:left ">年级:</div>
                <div class="filter-box" id = "fi1" style = "float:left;margin-left:15px">
                    <div class="filter-text">
                        <input class="filter-title" type="text" readonly placeholder="pleace select" id = "gradeSelected"/>
                        <i class="icon icon-filter-arrow"></i>
                    </div>
                    <select name="filter">
                        <option value="请选择" selected>请选择</option>
                        <option value="2018级">2018级</option>
                        <option value="2017级">2017级</option>
                        <option value="2016级">2016级</option>
                        <option value="2015级">2015级</option>
                        <option value="2014级">2014级</option>
                        <option value="2013级">2013级</option>
                        <option value="2012级">2012级</option>
                        <option value="2011级">2011级</option>
                        <option value="2010级">2010级</option>
                        <option value="2009级">2009级</option>
                        <option value="2008级">2008级</option>
                        <option value="2007级">2007级</option>
                        <option value="2006级">2006级</option>
                    </select>
                </div>

                <div style = "float:left;margin-left:60px">专业:</div>
                <div class="filter-box" id = "fi2" style = "float:left;margin-left:15px">
                    <div class="filter-text">
                        <input class="filter-title" type="text" readonly placeholder="pleace select" id = "majorSelected"/>
                        <i class="icon icon-filter-arrow"></i>
                    </div>
                    <select name="filter">
                        <option value="请选择" selected>请选择</option>
                        <option value="信息管理与信息系统1班">信息管理与信息系统1班</option>
                        <option value="信息管理与信息系统2班">信息管理与信息系统2班</option>
                        <option value="数字出版">数字出版</option>
                        <option value="行政管理1班">行政管理1班</option>
                        <option value="行政管理2班">行政管理2班</option>
                        <option value="政治学与行政学">政治学与行政学</option>
                        <option value="公共事业管理">公共事业管理</option>
                        <option value="图书馆学1班">图书馆学1班</option>
                        <option value="图书馆学2班">图书馆学2班</option>
                        <option value="档案学">档案学</option>
                    </select>
                </div>

                <div style = "float:left;margin-left:60px">性别:</div>
                <div class="filter-box" id = "fi3" style = "float:left;margin-left:15px">
                    <div class="filter-text">
                        <input class="filter-title" type="text" readonly placeholder="pleace select" id = "genderSelected"/>
                        <i class="icon icon-filter-arrow"></i>
                    </div>
                    <select name="filter">
                        <option value="请选择" selected>请选择</option>
                        <option value="男">男</option>
                        <option value="女">女</option>
                    </select>
                </div>

                <button class="login-button"  id = "searchByconidition" style="margin-left: 30px;">查找</button>
                <button type="button" class="btn green" id="excell" onclick="bt()" style="margin-left: 30px;cursor: pointer">下载</button>

            </div>
            <!--***** CONTENT *****-->     
            <div class="row">
                <table class="table table-hover">
                  <thead>
                    <tr class="bg-info text-white">
                      <th>序列号</th>
                      <th>姓名</th>
                      <th>年级</th>
                      <th>班级</th>
                      <th>性别</th>
                      <th>籍贯</th>
                      <th>学历</th>
                      <th>联系方式</th>
                      <th>工作城市</th>
                      <th>工作公司</th>
                      <th>工作职位</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row" id = "num_1">1</th>
                      <td id = "name_1"></td>
                      <td id = "grade_1"></td>
                      <td id = "room_1"></td>
                      <td id = "gender_1"></td>
                      <td id = "birthplace_1"></td>
                      <td id = "education_1"></td>
                      <td id = "Contact_1"></td>
                      <td id = "userAddress_1"></td>
                      <td id = "company_1"></td>
                      <td id = "position_1"></td>
                    </tr>
                    <tr class="table-warning">
                      <th scope="row" id = "num_2">2</th>
                      <td id = "name_2"></td>
                      <td id = "grade_2"></td>
                      <td id = "room_2"></td>
                        <td id = "gender_2"></td>
                        <td id = "birthplace_2"></td>
                        <td id = "education_2"></td>
                        <td id = "Contact_2"></td>
                        <td id = "userAddress_2"></td>
                        <td id = "company_2"></td>
                        <td id = "position_2"></td>
                    </tr>
                    <tr>
                      <th scope="row" id = "num_3">3</th>
                      <td id = "name_3"></td>
                      <td id = "grade_3"></td>
                      <td id = "room_3"></td>
                        <td id = "gender_3"></td>
                        <td id = "birthplace_3"></td>
                        <td id = "education_3"></td>
                        <td id = "Contact_3"></td>
                        <td id = "userAddress_3"></td>
                        <td id = "company_3"></td>
                        <td id = "position_3"></td>
                    </tr>
                    <tr class="table-success">
                      <th scope="row" id = "num_4">4</th>
                      <td id = "name_4"></td>
                      <td id = "grade_4"></td>
                      <td id = "room_4"></td>
                        <td id = "gender_4"></td>
                        <td id = "birthplace_4"></td>
                        <td id = "education_4"></td>
                        <td id = "Contact_4"></td>
                        <td id = "userAddress_4"></td>
                        <td id = "company_4"></td>
                        <td id = "position_4"></td>
                    </tr>
                    <tr>
                      <th scope="row" id = "num_5">5</th>
                      <td id = "name_5"></td>
                      <td id = "grade_5"></td>
                      <td id = "room_5"></td>
                        <td id = "gender_5"></td>
                        <td id = "birthplace_5"></td>
                        <td id = "education_5"></td>
                        <td id = "Contact_5"></td>
                        <td id = "userAddress_5"></td>
                        <td id = "company_5"></td>
                        <td id = "position_5"></td>
                    </tr>
                    <tr class="table-danger">
                      <th scope="row" id = "num_6">6</th>
                      <td id = "name_6"></td>
                      <td id = "grade_6"></td>
                      <td id = "room_6"></td>
                        <td id = "gender_6"></td>
                        <td id = "birthplace_6"></td>
                        <td id = "education_6"></td>
                        <td id = "Contact_6"></td>
                        <td id = "userAddress_6"></td>
                        <td id = "company_6"></td>
                        <td id = "position_6"></td>
                    </tr>
                    <tr>
                      <th scope="row" id = "num_7">7</th>
                      <td id = "name_7"></td>
                      <td id = "grade_7"></td>
                      <td id = "room_7"></td>
                        <td id = "gender_7"></td>
                        <td id = "birthplace_7"></td>
                        <td id = "education_7"></td>
                        <td id = "Contact_7"></td>
                        <td id = "userAddress_7"></td>
                        <td id = "company_7"></td>
                        <td id = "position_7"></td>
                    </tr>
                    <tr class="table-info">
                      <th scope="row" id = "num_8">8</th>
                      <td id = "name_8"></td>
                      <td id = "grade_8"></td>
                      <td id = "room_8"></td>
                        <td id = "gender_8"></td>
                        <td id = "birthplace_8"></td>
                        <td id = "education_8"></td>
                        <td id = "Contact_8"></td>
                        <td id = "userAddress_8"></td>
                        <td id = "company_8"></td>
                        <td id = "position_8"></td>
                    </tr>
                    <tr>
                      <th scope="row" id = "num_9">9</th>
                      <td id = "name_9"></td>
                      <td id = "grade_9"></td>
                      <td id = "room_9"></td>
                        <td id = "gender_9"></td>
                        <td id = "birthplace_9"></td>
                        <td id = "education_9"></td>
                        <td id = "Contact_9"></td>
                        <td id = "userAddress_9"></td>
                        <td id = "company_9"></td>
                        <td id = "position_9"></td>
                    </tr>
                    <tr class="table-warning">
                      <th scope="row" id = "num_10">10</th>
                      <td id = "name_10"></td>
                      <td id = "grade_10"></td>
                      <td id = "room_10"></td>
                        <td id = "gender_10"></td>
                        <td id = "birthplace_10"></td>
                        <td id = "education_10"></td>
                        <td id = "Contact_10"></td>
                        <td id = "userAddress_10"></td>
                        <td id = "company_10"></td>
                        <td id = "position_10"></td>
                    </tr>
                    <tr>
                      <th scope="row" id = "num_11">11</th>
                      <td id = "name_11"></td>
                      <td id = "grade_11"></td>
                      <td id = "room_11"></td>
                        <td id = "gender_11"></td>
                        <td id = "birthplace_11"></td>
                        <td id = "education_11"></td>
                        <td id = "Contact_11"></td>
                        <td id = "userAddress_11"></td>
                        <td id = "company_11"></td>
                        <td id = "position_11"></td>
                    </tr>
                    <tr class="table-success">
                      <th scope="row" id = "num_12">12</th>
                      <td id = "name_12"></td>
                      <td id = "grade_12"></td>
                      <td id = "room_12"></td>
                        <td id = "gender_12"></td>
                        <td id = "birthplace_12"></td>
                        <td id = "education_12"></td>
                        <td id = "Contact_12"></td>
                        <td id = "userAddress_12"></td>
                        <td id = "company_12"></td>
                        <td id = "position_12"></td>
                    </tr>
                  </tbody>
                </table>
            </div>
            <div class="row mx-0">
                <div class="col-12 text-center pb-4 pt-4">
                    <a id="last_page"  href="#" class="btn_mange_pagging" onclick="jumpPage(this)"><i class="fa fa-long-arrow-left"></i>&nbsp;&nbsp; 上一页</a>
                    <a id="page1" href="#1" class="btn_pagging" onclick="changePage(this)">1</a>
                    <a id="page2" href="#2" class="btn_pagging" onclick="changePage(this)">2</a>
                    <a id="page3" href="#3" class="btn_pagging" onclick="changePage(this)">3</a>
                    <a id="page4" href="#4" class="btn_pagging" onclick="changePage(this)">4</a>
                    <a id="page5" href="#5" class="btn_pagging" onclick="changePage(this)">5</a>
                    <a id="page6" href="#6" class="btn_pagging" onclick="changePage(this)">6</a>
                    <a id="page7" href="#7" class="btn_pagging" onclick="changePage(this)">7</a>
                    <a id="page8" href="#8" class="btn_pagging" onclick="changePage(this)">8</a>
                    <a id="page9" href="#9" class="btn_pagging" onclick="changePage(this)">9</a>
                    <a id="pagemore"  href="#" class="btn_pagging" onclick="changePage(this)">...</a>
                    <a id="next_page" href="#" class="btn_mange_pagging" onclick="jumpPage(this)">下一页 <i class="fa fa-long-arrow-right"></i>&nbsp;&nbsp; </a>
                </div>
            </div>

        </div>
    </div> 

    <!--Global Javascript -->
    <script src="static/static/system/js/jquery.min.js"></script>
    <script src="static/static/system/js/popper/popper.min.js"></script>
    <script src="static/static/system/js/tether.min.js"></script>
    <script src="static/static/system/js/bootstrap.min.js"></script>
    <script src="static/static/system/js/jquery.cookie.js"></script>
    <script src="static/static/system/js/jquery.validate.min.js"></script>
    <script src="static/static/system/js/chart.min.js"></script>
    <script src="static/static/system/js/front.js"></script>
    <script src = "static/static/system/js/serialize.js"></script>
    <script type="text/javascript" src="static/static/system/js/selectFilter.js"></script>
    
    <!--Core Javascript -->
    <script>
        new Chart(document.getElementById("myChart-nav").getContext('2d'), {
          type: 'doughnut',
          data: {
            labels: ["M", "T", "W", "T", "F", "S", "S"],
            datasets: [{
              backgroundColor: [
                "#2ecc71",
                "#3498db",
                "#95a5a6",
                "#9b59b6",
                "#f1c40f",
                "#e74c3c",
                "#34495e"
              ],
              data: [12, 19, 3, 17, 28, 24, 7]
            }]
          },
          options: {
              legend: { display: false },
              title: {
                display: true,
                text: ''
               } 
            }
        });

        function bt(){
            var grade = $("#gradeSelected").val();
            var major = $("#majorSelected").val();
            var gender = $("#genderSelected").val();
            if(grade == "请选择"){
                grade = "全体";
            }
            if(major == "请选择"){
                major = "全体";
            }
            if(gender == "请选择"){
                gender = "全体"
            }
            window.open("http://172.17.108.131:8080/excel/orderrdExportExcel?grade="+grade+"&major="+major+"&gender="+gender);
        }
    </script> 
</body>

</html>